<a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
    <span class="brand-text font-weight-light">Workshop Asp</span>
</a>

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-header">Menu</li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="nav-icon fa fa-home"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Departments" asp-action="Index" class="nav-link">
                    <i class="nav-icon fa fa-object-ungroup "></i>
                    <p>
                        Departments
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Sellers" asp-action="Index" class="nav-link">
                    <i class="nav-icon fa fa-users"></i>
                    <p>
                        Sellers
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="SalesRecords" asp-action="Index" class="nav-link">
                    <i class="nav-icon ion ion-ios-cart-outline"></i>
                    <p>
                        Sales Records
                    </p>
                </a>
            </li>


    </nav>
    <!-- /.sidebar-menu -->
</div>

